MINIO_INTERNAL_ENDPOINT=http://minio:9000
MINIO_PUBLIC_URL=https://media.fayzm.uz
MINIO_BUCKET=fayzm-media
MINIO_ROOT_USER=fayzm_minio
MINIO_ROOT_PASSWORD=change-this-minio-password
MINIO_BROWSER_REDIRECT=off
TELEGRAM_BOT_TOKEN=your-server-side-telegram-bot-token
TELEGRAM_CHAT_ID=your-telegram-chat-id
