TZ=Asia/Tashkent

SECRET_KEY=CHANGE-ME-to-a-long-random-50-char-value
DEBUG=False
ENABLE_HTTPS_REDIRECT=True
ALLOWED_HOSTS=back.fayzm.uz
BACKEND_URL=https://back.fayzm.uz
SECURE_HSTS_SECONDS=31536000

CORS_ALLOWED_ORIGINS=https://fayzm.uz
CSRF_TRUSTED_ORIGINS=https://back.fayzm.uz,https://fayzm.uz

NEXT_PUBLIC_SITE_URL=https://fayzm.uz
NEXT_PUBLIC_API_URL=https://back.fayzm.uz
BACKEND_INTERNAL_URL=http://backend:8000
MEDIA_PUBLIC_URL=https://media.fayzm.uz
FRONTEND_URL=https://fayzm.uz

TELEGRAM_BOT_TOKEN=your-production-telegram-bot-token
AMOCRM_FORM_ID=1680078
AMOCRM_FORM_HASH=your-amocrm-form-hash

DB_NAME=fayzm_db
DB_USER=fayzm_user
DB_PASSWORD=CHANGE-ME-strong-db-password
DB_HOST=db
DB_PORT=5432
DB_CONN_MAX_AGE=60

REDIS_URL=redis://redis:6379/0

DRF_THROTTLE_ANON=100/hour
DRF_THROTTLE_USER=1000/hour

USE_MINIO=True
MINIO_ENDPOINT=media.fayzm.uz
MINIO_CUSTOM_DOMAIN=media.fayzm.uz
MINIO_USE_HTTPS=True
MINIO_INTERNAL_ENDPOINT=minio:9000
MINIO_INTERNAL_USE_HTTPS=False
MINIO_ROOT_USER=fayzm_minio
MINIO_ROOT_PASSWORD=
MINIO_BUCKET_NAME=fayzm-media
MINIO_REGION=us-east-1
MINIO_BROWSER_REDIRECT=off
