fayzm.uz {
	encode zstd gzip
	reverse_proxy frontend:3000
}

www.fayzm.uz {
	redir https://fayzm.uz{uri} permanent
}

media.fayzm.uz {
	encode zstd gzip

	@bucketPath path /{$MINIO_BUCKET}/*
	handle @bucketPath {
		reverse_proxy minio:9000
	}

	handle {
		rewrite * /{$MINIO_BUCKET}{uri}
		reverse_proxy minio:9000
	}
}
